# Core ML & Data Science
mlflow==2.16.0
scikit-learn==1.5.2
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
openpyxl==3.1.5
joblib==1.4.2

# Dev & Testing
pytest==8.3.3
flake8==7.1.1
xgboost